<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://bionic.doradothemes.com/store7/themes/dor_bionic7/assets/cache/theme-e92495.css">
    <link rel="stylesheet" type="text/css" href="http://bionic.doradothemes.com/store7/themes/dor_bionic7/assets/dorado/css/topbar.css">
    <link rel="stylesheet" type="text/css" href="http://bionic.doradothemes.com/store7/themes/dor_bionic7/assets/dorado/css/header.css">
    <link rel="stylesheet" type="text/css" href="http://bionic.doradothemes.com/store7/themes/dor_bionic7/assets/dorado/css/oregon.css">
    <link rel="stylesheet" type="text/css" href="http://bionic.doradothemes.com/store7/themes/dor_bionic7/assets/dorado/css/theme.css">
    <link rel="stylesheet" type="text/css" href="http://bionic.doradothemes.com/store7/themes/dor_bionic7/assets/dorado/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="http://bionic.doradothemes.com/store7/themes/dor_bionic7/assets/dorado/css/color/52afc6.css">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body  data-hook="body"  data-spy="scroll" data-target=".navbar-fixed-top" id="category" class="lang-en country-us currency-usd layout-left-column page-category tax-display-disabled category-id-3 category-shop category-id-parent-2 category-depth-level-2 proCateCol1 proDetailCol1 proCateRowNumber6  dorHoverProduct2">
    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= render partial: 'spree/shared/trackers/segment/initializer.js' %>
    <%= render partial: 'spree/shared/new_header' %>
      <%= yield %>
    <%= render partial: 'spree/shared/footer' %>
    <script type="text/javascript" href="http://bionic.doradothemes.com/store7/themes/core.js"></script>
    <script type="text/javascript" href="http://bionic.doradothemes.com/store7/themes/dor_bionic7/assets/js/theme.js"></script>
    <script type="text/javascript" href="http://bionic.doradothemes.com/store7/themes/dor_bionic7/assets/js/custom.js"></script>
  </body>
</html>
