<section id="topbar" class="dor-topbar-wrapper">

    <div id="dor-topbar01" class="dor-topbar-wrapper">
        <div class="dor-topbar-inner">
            <div class="col-big">
                <div class="row-items">
                    <div class="dor-topbar-line">
                        <div class="dor-topbar-line-inner">
                            <div class="dor-topbar-line-wrapper row">
                                <div class="topbar-infomation col-lg-8 col-sm-8 pull-left">
                                    <ul>
                                        <li class="phone-shop&quot;"><span><i class="material-icons"></i> +91-997-1907-800</span></li>
                                        <li class="mail-shop"><span><i class="material-icons"></i> support@stakeway.com</span></li>
                                    </ul>
                                </div>
                                <div class="topbar-infomation-right col-lg-4 col-sm-4 pull-right">
                                    <ul>
                                        <li class="store-location"><span><i class="material-icons"></i>Referral-Code <%= uuid_without_child.try(:uuid)%></span></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="#" rel="nofollow" class="select-setting hidden pull-right"><i class="material-icons"></i></a>
                </div>
            </div>
        </div>
    </div>

</section>
<header id="header" class="header-absolute miniCartv1">
   <div id="dor-header01" class="header-content-wrapper dor-header haveTopbar2">
      <div class="header-banner">
      </div>
      <div class="header-top no-padding">
         <div class="col-big">
            <div class="row">
               <div class="col-md-2 dor-main-logo">
                  <div class="main-logo-inner">
                     <div class="main-logo-wrapper">
                        <div class="item-logo" id="_desktop_logo">
                           <h1 class="h1-logo no-margin" style="text-align: initial;">
                              <a href="/" style="font-size: 34px;color: #52afc7;">
                               Stakeway.com
                              </a>
                           </h1>
                        </div>
                        <div class="item-logo top-logo" id="_mobile_logo"></div>
                     </div>
                  </div>
               </div>
               <div class="dor-mainmenu-inner col-md-8">
                  <div class="head-dormenu">
                     <nav class="dor-megamenu col-lg-12 col-sx-12 col-sm-12">
                        <div class="navbar navbar-default " role="navigation">
                           <!-- Brand and toggle get grouped for better mobile display -->
                           <div class="navbar-header">
                              <button type="button" class="navbar-toggle open_menu">
                              <i class="material-icons"></i>
                              </button>
                           </div>
                           <!-- Collect the nav links, forms, and other content for toggling -->
                           <div id="dor-top-menu" class="collapse navbar-collapse navbar-ex1-collapse">
                              <div class="close_menu" style="display:none;">
                                 <span class="btn-close"><i class="material-icons"></i></span>
                              </div>
                              <div class="mobile-logo-menu hidden-lg hidden-md">
                                 <a href="http://bionic.doradothemes.com/store7/" title="Bionic Store">
                                 <img class="logo img-responsive" src="http://bionic.doradothemes.com/store7/modules/dor_imageslider/images/logo-menu.png" alt="Bionic Store">
                                 </a>
                              </div>
                              <ul class="nav navbar-nav megamenu">
                                 <li class=" parent dropdown aligned-fullwidth">
                                    <a  data-rel="3" href="/products"><span class="menu-title">Shop</span><b class="caret"></b></a><span class="caretmobile hidden"></span>
                                 </li>
                                 <li class=" parent dropdown aligned-fullwidth">
                                    <a  href="#"><span class="menu-title">Elements</span><b class="caret"></b></a><span class="caretmobile hidden"></span>
                                    <!-- <ul class="dropdown-menu level1 megamenu-content" role="menu" style="background-image:url(http://bionic.doradothemes.com/img/cms/dorado/menu/smartphone_bg.png);background-repeat:no-repeat;width:900px;">
                                       <li>
                                          <div class="row">
                                             <div class="col-sm-3">
                                                <div class="widget-content">
                                                   <div class="widget-links block ">
                                                      <div class="widget-inner block_content">
                                                         <div id="tabs1895294017" class="panel-group">
                                                            <ul class="nav-links" data-id="myTab">
                                                               <li><a href="#"><i class="fa fa-cubes"></i>Visual Composer ($34 saved)</a></li>
                                                               <li><a href="#"><i class="fa fa-image"></i>Revolution Slider ($19 saved)</a></li>
                                                               <li><a href="#"><i class="fa fa-rocket"></i>Blazing Fast Loading Speed</a></li>
                                                               <li><a href="#"><i class="fa fa-hand-o-up"></i>One-Click Sample Data</a></li>
                                                               <li><a href="#"><i class="fa fa-laptop"></i>Live Customizer</a></li>
                                                               <li><a href="#"><i class="fa fa-magic"></i>Unlimited Colors</a></li>
                                                               <li><a href="#"><i class="fa fa-desktop"></i>Responsive &amp; Retina</a></li>
                                                            </ul>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-sm-3">
                                                <div class="widget-content">
                                                   <div class="widget-links block ">
                                                      <div class="widget-inner block_content">
                                                         <div id="tabs379212207" class="panel-group">
                                                            <ul class="nav-links" data-id="myTab">
                                                               <li><a href="#"><i class="fa fa-css3"></i>Smooth CSS3 Animation</a></li>
                                                               <li><a href="#"><i class="fa fa-envelope"></i>ContactForm 7 Supported</a></li>
                                                               <li><a href="#"><i class="fa fa-minus"></i>Sticky Header</a></li>
                                                               <li><a href="#"><i class="fa fa-google"></i>600+ Google Fonts</a></li>
                                                               <li><a href="#"><i class="fa fa-language"></i>WPML Supported</a></li>
                                                               <li><a href="#"><i class="fa fa-font"></i>Font Awesome Icons</a></li>
                                                               <li><a href="#"><i class="fa fa-html5"></i>Bootstrap 3.x Based</a></li>
                                                            </ul>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-sm-3">
                                                <div class="widget-content">
                                                   <div class="widget-links block ">
                                                      <div class="widget-inner block_content">
                                                         <div id="tabs71883510" class="panel-group">
                                                            <ul class="nav-links" data-id="myTab">
                                                               <li><a href="#"><i class="fa fa-shopping-cart"></i>eCommerce Compatible</a></li>
                                                               <li><a href="#"><i class="fa fa-check"></i>Products Compare</a></li>
                                                               <li><a href="#"><i class="fa fa-heart"></i>Products Wishlist</a></li>
                                                               <li><a href="#"><i class="fa fa-minus"></i>20+ Homepage Styles</a></li>
                                                               <li><a href="#"><i class="fa fa-minus"></i>4+ Header Styles</a></li>
                                                               <li><a href="#"><i class="fa fa-newspaper-o"></i>3+ News Archive Styles</a></li>
                                                               <li><a href="#"><i class="fa fa-columns"></i>3+ Contact Page Styles</a></li>
                                                            </ul>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </li>
                                    </ul> -->
                                 </li>
                                 <li class=" "><a href="#"><span class="menu-title">Gallery</span><span class="menu-label-new">new</span></a></li>
                                 <li class=" parent dropdown aligned-right">
                                    <a data-rel="6" href="/charges/read_more"><span class="menu-title">MLM Service</span><b class="caret"></b></a><span class="caretmobile hidden"></span>
                                 </li>
                                 <li class=" parent dropdown aligned-right">
                                    <a  href="#"><span class="menu-title">Contact</span><b class="caret"></b></a><span class="caretmobile hidden"></span>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </nav>
                  </div>
               </div>
               <div class="dor-header-setting-inner col-md-2">
                  <div class="head-dorsetting pull-right">
                     <nav class="header-nav">
                        <div class="hidden-sm-down-">
                           <div class="right-nav">
                              <div class="nav-search-button hidden"><button type="button"><i class="pe-7s-search"></i></button></div>
                              
                              <div class="user-info selection-options-wrapper">
                                 <label class="hidden">Account</label>
                                 <span class="line-selected hidden"><i class="pe-7s-user"></i> <span class="select-hidden hidden">Account</span></span>
                                 <ul class="toogle_content">
                                    <% if spree_user_signed_in? %>
                                      <%if current_spree_user.profile.present?%>
                                      <li><%= link_to "My Account", profile_path(current_spree_user.profile), class: "page-scroll"%></li>
                                      <%end%>
                                      <li><%= link_to "Log out", logout_path, class: "page-scroll"%></li>
                                    <% else %>
                                    <li> <a class="page-scroll" href="/login">Login</a> </li>
                                    <% end %>
                                 </ul>

                              </div>
                        </div>
                        <div class="hidden-md-up text-xs-center mobile hidden">
                           <div class="pull-xs-left" id="menu-icon">
                              <i class="material-icons d-inline"></i>
                           </div>
                           <div class="pull-xs-right" id="_mobile_user_info"></div>
                           <div class="clearfix"></div>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
            <div id="mobile_top_menu_wrapper" class="row hidden-md-up" style="display:none;">
               <div class="js-top-menu mobile" id="_mobile_top_menu"></div>
               <div class="js-top-menu-bottom">
                  <div id="_mobile_contact_link"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="header-piz-line no-padding">
         <div class="col-big">
            <div class="row">
               <div id="dor-verticalmenu" class="block block-info nopadding">
                  <div class="dor-vertical-title">
                     <div class="vertical-menu-head">
                        <div class="vertical-menu-head-inner">
                           <div class="vertical-menu-head-wrapper">
                              <div class="fa-icon-menu"><i class="material-icons"></i></div>
                              <h3 class="dor_title_block"><span>Shop by Category</span></h3>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="dor-verticalmenu block_content" style="display: none;">
                     <div class="navbar navbar-default">
                        <div class="controll-vertical-mobile clearfix hidden">
                           <div class="navbar-header vertical-menu-header hidden">
                              <button type="button" class="navbar-toggle open_menu">
                              <i class="material-icons"></i>
                              </button>
                           </div>
                           <div class="close_menu_vertical" style="display:none;">
                              <span class="btn-close"><i class="material-icons"></i></span>
                           </div>
                           <div class="mobile-logo-menu hidden-lg hidden-md">
                              <a href="http://bionic.doradothemes.com/store7/" title="Bionic Store">
                              <img class="logo img-responsive" src="http://bionic.doradothemes.com/store7/modules/dor_imageslider/images/logo-menu.png" alt="Bionic Store">
                              </a>
                           </div>
                        </div>
                        <div class="verticalmenu" role="navigation">
                           <div class="navbar-header">
                              <div class="navbar-collapse navbar-ex1-collapse">
                                 <!-- <ul class="nav navbar-nav verticalmenu">
                                    <li class="bold"><a target="_self" href="http://bionic.doradothemes.com/store7/en/#"><span class="menu-icon material-icon"><i class="material-icons">grade</i></span><span class="menu-title">Hot of the Day</span><span class="menu-label-hot"><span>hot</span></span></a></li>
                                    <li class="parent dropdown aligned-left">
                                       <a class="dropdown-toggle-" data-toggle="dropdown-" target="_self" href="http://bionic.doradothemes.com/store7/en/#"><span class="menu-icon material-icon"><i class="material-icons">computer</i></span><span class="menu-title">Computers &amp; Laptops</span></a><span class="expand dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></span>
                                       <ul class="dropdown-menu level1 verticalmenu-content" role="menu" style="background-image:url(http://bionic.doradothemes.com/img/cms/dorado/menu/ver_bg_computer.png);background-repeat:no-repeat;width:750px;">
                                          <li>
                                             <div class="row">
                                                <div class="col-sm-6">
                                                   <div class="widget-content">
                                                      <div class="widget-links block">
                                                         <div class="widget-heading title_block">
                                                            Computers
                                                         </div>
                                                         <div class="widget-inner block_content">
                                                            <div id="tabs331263588" class="panel-group">
                                                               <ul class="nav-links" data-id="myTab">
                                                                  <li><a href="http://bionic.doradothemes.com/store2/en/3-shop">Mac Computer</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store2/en/3-shop">Windows Computer</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store2/en/3-shop">PC Computer</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store2/en/3-shop">All In One</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store2/en/3-shop">Desktops</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store2/en/3-shop">Microsof Surface</a></li>
                                                               </ul>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="col-sm-6">
                                                   <div class="widget-content">
                                                      <div class="widget-links block">
                                                         <div class="widget-heading title_block">
                                                            Laptops &amp; Notebook
                                                         </div>
                                                         <div class="widget-inner block_content">
                                                            <div id="tabs2008493118" class="panel-group">
                                                               <ul class="nav-links" data-id="myTab">
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Apple Mackbook</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Microsoft Surfacebook</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Lenovo Thinkpad</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Samsung Laptops</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Xiaomi Notebook</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Chromebooks</a></li>
                                                               </ul>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </li>
                                       </ul>
                                    </li>
                                    <li class="parent dropdown aligned-left">
                                       <a class="dropdown-toggle-" data-toggle="dropdown-" target="_self" href="http://bionic.doradothemes.com/store7/en/#"><span class="menu-icon material-icon"><i class="material-icons">photo_camera</i></span><span class="menu-title">Cameras &amp; Photo</span></a><span class="expand dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></span>
                                       <ul class="dropdown-menu level1 verticalmenu-content" role="menu" style="background-image:url(http://bionic.doradothemes.com/img/cms/dorado/menu/ver_bg_camera.png);background-repeat:no-repeat;width:750px;">
                                          <li>
                                             <div class="row">
                                                <div class="col-sm-6">
                                                   <div class="widget-content">
                                                      <div class="widget-links block">
                                                         <div class="widget-heading title_block">
                                                            Cameras &amp; Photography
                                                         </div>
                                                         <div class="widget-inner block_content">
                                                            <div id="tabs1082159954" class="panel-group">
                                                               <ul class="nav-links" data-id="myTab">
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">All Cameras &amp; Photography</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Digital SLRs</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Point &amp; Shoot Cameras</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Lenses</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Camera Accessories</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Security &amp; Surveillance</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Binoculars &amp; Telescopes</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Camcorders</a></li>
                                                               </ul>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="col-sm-6">
                                                   <div class="widget-content">
                                                      <div class="widget-links block">
                                                         <div class="widget-heading title_block">
                                                            The Best Cameras
                                                         </div>
                                                         <div class="widget-inner block_content">
                                                            <div id="tabs796536553" class="panel-group">
                                                               <ul class="nav-links" data-id="myTab">
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Nikon D850</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Fujifilm X-T2</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Sony Alpha A9</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Olympus OM-D E-M10 Mark II</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Panasonic Lumix ZS100</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Canon EOS Rebel T7i</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">GoPro Hero5 Black</a></li>
                                                               </ul>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </li>
                                       </ul>
                                    </li>
                                    <li class="parent dropdown aligned-left">
                                       <a class="dropdown-toggle-" data-toggle="dropdown-" target="_self" href="http://bionic.doradothemes.com/store7/en/#"><span class="menu-icon material-icon"><i class="material-icons">smartphone</i></span><span class="menu-title">Smart Phones &amp; Tablets </span></a><span class="expand dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></span>
                                       <ul class="dropdown-menu level1 verticalmenu-content" role="menu" style="background-image:url(http://bionic.doradothemes.com/img/cms/dorado/menu/ver_bg_smartphone.png);background-repeat:no-repeat;width:650px;">
                                          <li>
                                             <div class="row">
                                                <div class="col-sm-6">
                                                   <div class="widget-content">
                                                      <div class="widget-links block">
                                                         <div class="widget-heading title_block">
                                                            Mobiles &amp; Tablets
                                                         </div>
                                                         <div class="widget-inner block_content">
                                                            <div id="tabs110369741" class="panel-group">
                                                               <ul class="nav-links" data-id="myTab">
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">All Mobile Phones</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Smartphones</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">IOS Mobiles</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Android Mobiles</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Windows Mobiles</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Refurbished Mobiles</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Mobile Accessories</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Cases &amp; Covers</a></li>
                                                               </ul>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="col-sm-6">
                                                   <div class="widget-content menu-none-title">
                                                      <div class="widget-links block">
                                                         <div class="widget-inner block_content">
                                                            <div id="tabs386639592" class="panel-group">
                                                               <ul class="nav-links" data-id="myTab">
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">All Tablets</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Tablet Accessories</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Landline Phones</a></li>
                                                                  <li><a href="http://bionic.doradothemes.com/store7/en/#">Wearable Devices</a></li>
                                                               </ul>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </li>
                                       </ul>
                                    </li>
                                    <li class=""><a target="_self" href="http://bionic.doradothemes.com/store7/en/#"><span class="menu-icon material-icon"><i class="material-icons">tv</i></span><span class="menu-title">TV &amp; Audio</span></a></li>
                                    <li class=""><a target="_self" href="http://bionic.doradothemes.com/store7/en/#"><span class="menu-icon material-icon"><i class="material-icons">all_out</i></span><span class="menu-title">Games &amp; Consoles</span></a></li>
                                    <li class=""><a target="_self" href="http://bionic.doradothemes.com/store7/en/#"><span class="menu-icon material-icon"><i class="material-icons">watch</i></span><span class="menu-title">Smart Watch &amp; Wearables</span></a></li>
                                    <li class=""><a target="_self" href="http://bionic.doradothemes.com/store7/en/#"><span class="menu-icon material-icon"><i class="material-icons">directions_car</i></span><span class="menu-title">Car Electronic &amp; Auto</span></a></li>
                                    <li class="hidden"><a target="_self" href="http://bionic.doradothemes.com/store7/en/#"><span class="menu-icon material-icon"><i class="material-icons">device_hub</i></span><span class="menu-title">Accesories</span></a></li>
                                    <li class="hidden"><a target="_self" href="http://bionic.doradothemes.com/store7/en/#"><span class="menu-icon material-icon"><i class="material-icons">wb_sunny</i></span><span class="menu-title">Gadgets</span></a></li>
                                    <li class="hidden"><a target="_self" href="http://bionic.doradothemes.com/store7/en/#"><span class="menu-icon material-icon"><i class="material-icons">3d_rotation</i></span><span class="menu-title">Virtual Reality</span></a></li>
                                 </ul> -->
                                 <div class="show-more-ver-menu">
                                    <a href="http://bionic.doradothemes.com/store7/en/#"><span class="show-more">More Categories</span><span class="hidden hide-more">Hide Categories</span></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- pos search module TOP -->
               <div id="dor_search_top" class="center_column col-lg-4 col-md-4 col-xs-12 col-sm-12 clearfix">

                <%= form_tag spree.products_path, method: :get, id:"searchbox", class:"form-inline" do %>
                  <div class=" dor_search form-group">
                    <%= search_field_tag :keywords, params[:keywords], placeholder: Spree.t(:search), class: " search_query form-control", id:"dor_query_top" %>
                  </div>
                  <button type="submit" name="submit_search" class="btn btn-default"><i class="pe-7s-search"></i></button>
                <% end %>

                  
               </div>
               <!-- /pos search module TOP -->
               <div class="button-head-total">
                  <div class="header-total-feat">
                     <a href="#" class="total-wishlist"><span class="get-info-total"><span><i class="pe-7s-like"></i></span><strong>0</strong><span class="txt-button-head">Wishlist</span></span></a>
                     <a href="#" class="total-compare"><span class="get-info-total"><span><i class="pe-7s-shuffle"></i></span><strong>0</strong><span class="txt-button-head">Compare</span></span></a>
                  </div>
               </div>
               <div class="nav-cart">

                                 <div id="_desktop_cart">
                                    <div class="blockcart cart-preview" data-refresh-url="#">
                                       <div class="header">
                                          <ul class="nav navbar-nav navbar-right" data-hook>
                                          <li id="link-to-cart" data-hook>
                                            <noscript>
                                              
                                            </noscript>
                                            &nbsp;
                                          </li>
                                          <script>Spree.fetch_cart()</script>
                                        </ul>
                                    </div>
                                 </div>
                                 <div class="pull-xs-right" id="_mobile_cart"></div>
                              </div>
                           </div>
            </div>
         </div>
      </div>
   </div>
</header>
