<div class="header-container header-style-1">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 language-currency-topq">
                    <div class="currency-wrapper">
                        <div class="switcher currency switcher-currency" id="switcher-currency-nav"><strong class="label switcher-label"><span>Referral-Code <%= uuid_without_child.try(:uuid)%></span></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 logo-header">
                    <div class="logo-wrapper">
                        <h1 class="logo-content"><strong class="logo"><a class="logo" href="/" title="Stakeway.com"><%=image_tag "logo.png"%></a></strong></h1></div>
                </div>
                <div class="col-lg-6 col-md-5 col-sm-6 col-xs-4 main-megamenu">
                    <div class="navigation-megamenu-wrapper">
                        <nav class="sm_megamenu_wrapper_horizontal_menu sambar" id="sm_megamenu_menu5af58bd1b5158" data-sam="3896067761526041553">
                            <div class="sambar-inner"><span class="btn-sambar" data-sapi="collapse" data-href="#sm_megamenu_menu5af58bd1b5158"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></span>
                                <div class="mega-content">
                                    <ul class="horizontal-type sm-megamenu-hover sm_megamenu_menu sm_megamenu_menu_black" data-jsapi="on">
                                        

                                        
                                        
                                        <li class="other-toggle  sm_megamenu_lv1 sm_megamenu_drop parent  ">
                                            <a class="sm_megamenu_head sm_megamenu_drop " href="/products" id="sm_megamenu_291"> <span class="sm_megamenu_icon sm_megamenu_nodesc"> <span class="sm_megamenu_title">Shop</span> </span>
                                            </a>
                                        </li>
                                        <li class="other-toggle  sm_megamenu_lv1 sm_megamenu_drop parent  ">
                                            <a class="sm_megamenu_head sm_megamenu_drop " href="/charges/read_more" id="sm_megamenu_287"> <span class="sm_megamenu_icon sm_megamenu_nodesc"> <span class="sm_megamenu_title">About Us</span> </span>
                                            </a>
                                        </li>
                                        <li class="other-toggle  sm_megamenu_lv1 sm_megamenu_drop parent  ">
                                            <a class="sm_megamenu_head sm_megamenu_drop " href="http://magento2.flytheme.net/themes/sm_emarket/german/contact-us.html" id="sm_megamenu_290"> <span class="sm_megamenu_icon sm_megamenu_nodesc"> <span class="sm_megamenu_title">Contact Us</span> </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                           </div>
                    <div class="navigation-mobile-container">
                        <!--COLLAPSE-->
                        <!--SIDEBAR-->
                        <div class="nav-mobile-container sidebar-type">
                            <div class="btn-mobile"><a id="sidebar-button" class="button-mobile sidebar-nav" title="Categories"><i class="fa fa-bars"></i><span class="hidden">Categories</span></a></div>
                            <nav id="navigation-mobile" class="navigation-mobile"></nav>
                            <script type="text/javascript">
                                require([
                                    'jquery'
                                ], function($) {
                                    $('#sidebar-button').click(function() {
                                        $('body').toggleClass('navbar-active');
                                        $(this).toggleClass('active');
                                    });
                                });
                            </script>
                        </div>
                        <script type="text/javascript">
                            require([
                                'jquery'
                            ], function($) {
                                $('.btn-submobile').click(function() {
                                    $(this).prev().slideToggle(200);
                                    $(this).toggleClass('btnsub-active');
                                    $(this).parent().toggleClass('parent-active');
                                });

                                function cloneMegaMenu() {
                                    var breakpoints = 991;
                                    var doc_width = $(window).width();
                                    if (doc_width <= breakpoints) {
                                        var horizontalMegamenu = $('.sm_megamenu_wrapper_horizontal_menu .horizontal-type');
                                        var verticalMegamenu = $('.sm_megamenu_wrapper_vertical_menu .vertical-type');
                                        $('#navigation-mobile').append(horizontalMegamenu);
                                        $('#navigation-mobile').append(verticalMegamenu);
                                    } else {
                                        var horizontalMegamenu = $('#navigation-mobile .horizontal-type');
                                        var verticalMegamenu = $('#navigation-mobile .vertical-type');
                                        $('.sm_megamenu_wrapper_horizontal_menu .sambar-inner .mega-content').append(horizontalMegamenu);
                                        $('.sm_megamenu_wrapper_vertical_menu .sambar-inner .mega-content').append(verticalMegamenu);
                                    }
                                }

                                cloneMegaMenu();

                                $(window).resize(function() {
                                    cloneMegaMenu();
                                });

                            });
                        </script>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-3 col-xs-8 header-middle-right">
                    <div class="user-info">
                      <% if spree_user_signed_in? %>
                        <%= link_to "Account", "/my-account"%>/
                                      
                        <%= link_to "Log out", logout_path%>
                      <%else%>
                      <i class="fa fa-lock" aria-hidden="true"></i> 
                      <a class="creat" href="/login" title="Login">Login</a> or <a href="/signup" title="Register">Register</a> 
                      <%end%>
                    </div>
                    <ul class="contact-header  hidden">
                        <li><i class="fa fa-ambulance" aria-hidden="true">&nbsp;</i>Track You Order</li>
                        <li><i class="fa fa-phone-square" aria-hidden="true">&nbsp;</i>Hotline (+123)4 567 890</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 hidden-sm hidden-xs sidebar-megamenu">
                    <div class="megamenu-content-sidebar">
                        <div class="block-title btn-megamenu sm_megamenu_block-title"><a href="javascript:void(0)" title="">All department</a></div>
                        <!-- <div class="menu-ver-content">
                            <nav class="sm_megamenu_wrapper_vertical_menu sambar" id="sm_megamenu_menu5af58bd2e4087" data-sam="12834564881526041554">
                                <div class="sambar-inner"><span class="btn-sambar" data-sapi="collapse" data-href="#sm_megamenu_menu5af58bd2e4087"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></span>
                                    <div class="mega-content">
                                        <ul class="vertical-type sm-megamenu-hover sm_megamenu_menu sm_megamenu_menu_black" data-jsapi="on">
                                            <li class="other-toggle  sm_megamenu_lv1 sm_megamenu_drop parent   parent-item">
                                                <a class="sm_megamenu_head sm_megamenu_drop sm_megamenu_haschild" href="http://magento2.flytheme.net/themes/sm_emarket/german/furniture.html" id="sm_megamenu_276"> <span class="icon_items"><img src="http://magento2.flytheme.net/themes/sm_emarket/pub/media/wysiwyg/mega-menu/icon/4.png" alt="icon items"></span> <span class="sm_megamenu_icon sm_megamenu_nodesc"> <span class="sm_megamenu_title">Textiles &amp; Accessories</span> </span>
                                                </a>
                                                <div class="sm-megamenu-child sm_megamenu_dropdown_3columns ">
                                                    <div data-link="http://magento2.flytheme.net/themes/sm_emarket/german/" class="sm_megamenu_col_3 sm_megamenu_firstcolumn    ">
                                                        <div data-link="" class="sm_megamenu_col_3    remove-padding">
                                                            <div class="sm_megamenu_head_item">
                                                                <div class="sm_megamenu_title  ">
                                                                    <div data-link="http://magento2.flytheme.net/themes/sm_emarket/german/" class="sm_megamenu_col_6 sm_megamenu_firstcolumn    ">
                                                                        <div class="sm_megamenu_head_item">
                                                                            <div class="sm_megamenu_title  ">
                                                                                <a class="sm_megamenu_nodrop " href="http://magento2.flytheme.net/themes/sm_emarket/german/sport-entertaiment/swim-gear.html"></a>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/sport-entertaiment/swim-gear/women-s-swimwear.html"><span class="sm_megamenu_title_lv-3">Women's Swimwear</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/sport-entertaiment/swim-gear/men-s-swimwear.html"><span class="sm_megamenu_title_lv-3">Men's Swimwear</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/sport-entertaiment/swim-gear/kid-s-swimwear.html"><span class="sm_megamenu_title_lv-3">Kid's Swimwear</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/sport-entertaiment/swim-gear/swim-accessories.html"><span class="sm_megamenu_title_lv-3">Swim Accessories</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/sport-entertaiment/swim-gear/umbrella-raincoat.html"><span class="sm_megamenu_title_lv-3">Umbrella &amp; Raincoat</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/sport-entertaiment/swim-gear/other-outdoor-gear.html"><span class="sm_megamenu_title_lv-3">Other Outdoor Gear</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/sport-entertaiment/swim-gear/camping-lights.html"><span class="sm_megamenu_title_lv-3">Camping Lights</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/sport-entertaiment/swim-gear/bicycle-lights.html"><span class="sm_megamenu_title_lv-3">Bicycle Lights</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/sport-entertaiment/swim-gear/shoes.html"><span class="sm_megamenu_title_lv-3">Shoes</span></a></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-link="" class="sm_megamenu_col_3 sm_megamenu_firstcolumn    remove-padding">
                                                            <div class="sm_megamenu_head_item">
                                                                <div class="sm_megamenu_title  ">
                                                                    <div class="sm_megamenu_content">
                                                                        <div class="right-image-menu static-image">
                                                                            <a title="Static Image" href="#">
                                                                                <img src="http://magento2.flytheme.net/themes/sm_emarket/pub/media/wysiwyg/mega-menu/mega-banner.png" alt="Static Image">
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><span class="btn-submobile"></span> </li>
                                            <li class="other-toggle  sm_megamenu_lv1 sm_megamenu_drop parent  ">
                                                <a class="sm_megamenu_head sm_megamenu_drop " href="http://magento2.flytheme.net/themes/sm_emarket/german/food.html" id="sm_megamenu_231"> <span class="icon_items"><img src="http://magento2.flytheme.net/themes/sm_emarket/pub/media/wysiwyg/mega-menu/icon/5.png" alt="icon items"></span> <span class="sm_megamenu_icon sm_megamenu_nodesc"> <span class="sm_megamenu_title">Packaging &amp; Office</span> </span>
                                                </a>
                                            </li>
                                            <li class="other-toggle  sm_megamenu_lv1 sm_megamenu_drop parent   parent-item">
                                                <a class="sm_megamenu_head sm_megamenu_drop sm_megamenu_haschild" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage.html" id="sm_megamenu_268"> <span class="icon_items"><img src="http://magento2.flytheme.net/themes/sm_emarket/pub/media/wysiwyg/mega-menu/icon/6.png" alt="icon items"></span> <span class="sm_megamenu_icon sm_megamenu_nodesc"> <span class="sm_megamenu_title">Metallurgy, Chemicals</span> </span>
                                                </a>
                                                <div class="sm-megamenu-child sm_megamenu_dropdown_5columns ">
                                                    <div data-link="http://magento2.flytheme.net/themes/sm_emarket/german/" class="sm_megamenu_col_5 sm_megamenu_firstcolumn    ">
                                                        <div data-link="" class="sm_megamenu_col_6 sm_megamenu_firstcolumn    remove-padding ">
                                                            <div class="sm_megamenu_head_item">
                                                                <div class="sm_megamenu_title  ">
                                                                    <div data-link="" class="sm_megamenu_col_6    remove-padding">
                                                                        <div class="sm_megamenu_head_item">
                                                                            <div class="sm_megamenu_title  ">
                                                                                <div data-link="http://magento2.flytheme.net/themes/sm_emarket/german/" class="sm_megamenu_col_2    margin-bottom">
                                                                                    <div class="sm_megamenu_head_item">
                                                                                        <div class="sm_megamenu_title  ">
                                                                                            <a class="sm_megamenu_nodrop " href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/men-fashion.html"></a>
                                                                                            <div class="sm_megamenu_title">
                                                                                                <h3 class="sm_megamenu_nodrop  title-cat">Men Fashion</h3></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/men-fashion/hammock.html"><span class="sm_megamenu_title_lv-4">Hammock</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/men-fashion/telescope.html"><span class="sm_megamenu_title_lv-4">Telescope</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/men-fashion/hat.html"><span class="sm_megamenu_title_lv-4">Hat</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/men-fashion/tent.html"><span class="sm_megamenu_title_lv-4">Tent</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/men-fashion/sleeping-bag.html"><span class="sm_megamenu_title_lv-4">Sleeping Bag</span></a></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div data-link="http://magento2.flytheme.net/themes/sm_emarket/german/" class="sm_megamenu_col_2    ">
                                                                                    <div class="sm_megamenu_head_item">
                                                                                        <div class="sm_megamenu_title  ">
                                                                                            <a class="sm_megamenu_nodrop " href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/women-fashion.html"></a>
                                                                                            <div class="sm_megamenu_title">
                                                                                                <h3 class="sm_megamenu_nodrop  title-cat">Women Fashion</h3></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/women-fashion/women-s-swimwear.html"><span class="sm_megamenu_title_lv-4">Women's Swimwear</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/women-fashion/men-s-swimwear.html"><span class="sm_megamenu_title_lv-4">Men's Swimwear</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/women-fashion/kid-s-swimwear.html"><span class="sm_megamenu_title_lv-4">Kid's Swimwear</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/women-fashion/swim-accessories.html"><span class="sm_megamenu_title_lv-4">Swim Accessories</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/women-fashion/umbrella-raincoat.html"><span class="sm_megamenu_title_lv-4">Umbrella &amp; Raincoat</span></a></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div data-link="http://magento2.flytheme.net/themes/sm_emarket/german/" class="sm_megamenu_col_2    ">
                                                                                    <div class="sm_megamenu_head_item">
                                                                                        <div class="sm_megamenu_title  ">
                                                                                            <a class="sm_megamenu_nodrop " href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/handbags.html"></a>
                                                                                            <div class="sm_megamenu_title">
                                                                                                <h3 class="sm_megamenu_nodrop  title-cat">Handbags</h3></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/handbags/other-outdoor-gear.html"><span class="sm_megamenu_title_lv-4">Other Outdoor Gear</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/handbags/cycling-protective-gears.html"><span class="sm_megamenu_title_lv-4">Cycling Protective Gears</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/handbags/cycling-accessories.html"><span class="sm_megamenu_title_lv-4">Cycling Accessories</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/handbags/cycling-clothing.html"><span class="sm_megamenu_title_lv-4">Cycling Clothing</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/handbags/bicycles-frames.html"><span class="sm_megamenu_title_lv-4">Bicycles Frames</span></a></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div data-link="" class="sm_megamenu_col_6 sm_megamenu_firstcolumn    remove-padding">
                                                                        <div class="sm_megamenu_head_item">
                                                                            <div class="sm_megamenu_title  ">
                                                                                <div data-link="http://magento2.flytheme.net/themes/sm_emarket/german/" class="sm_megamenu_col_2    ">
                                                                                    <div class="sm_megamenu_head_item">
                                                                                        <div class="sm_megamenu_title  ">
                                                                                            <a class="sm_megamenu_nodrop " href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/bag.html"></a>
                                                                                            <div class="sm_megamenu_title">
                                                                                                <h3 class="sm_megamenu_nodrop  title-cat">Bag</h3></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/bag/bicycle-lights.html"><span class="sm_megamenu_title_lv-4">Bicycle Lights</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/bag/elementum.html"><span class="sm_megamenu_title_lv-4">Elementum</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/bag/tincidunt.html"><span class="sm_megamenu_title_lv-4">Tincidunt</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/bag/faucibus.html"><span class="sm_megamenu_title_lv-4">Faucibus</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/bag/sollicitudin.html"><span class="sm_megamenu_title_lv-4">Sollicitudin</span></a></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div data-link="http://magento2.flytheme.net/themes/sm_emarket/german/" class="sm_megamenu_col_2    ">
                                                                                    <div class="sm_megamenu_head_item">
                                                                                        <div class="sm_megamenu_title  ">
                                                                                            <a class="sm_megamenu_nodrop " href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/jean.html"></a>
                                                                                            <div class="sm_megamenu_title">
                                                                                                <h3 class="sm_megamenu_nodrop  title-cat">Jean</h3></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/jean/camping-lights.html"><span class="sm_megamenu_title_lv-4">Camping Lights</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/jean/bicycle-lights.html"><span class="sm_megamenu_title_lv-4">Bicycle Lights</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/jean/vehicula.html"><span class="sm_megamenu_title_lv-4">Vehicula</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/jean/commodo.html"><span class="sm_megamenu_title_lv-4">Commodo</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/jean/rutrumn.html"><span class="sm_megamenu_title_lv-4">Rutrumn</span></a></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div data-link="http://magento2.flytheme.net/themes/sm_emarket/german/" class="sm_megamenu_col_2    ">
                                                                                    <div class="sm_megamenu_head_item">
                                                                                        <div class="sm_megamenu_title  ">
                                                                                            <a class="sm_megamenu_nodrop " href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/t-shirt.html"></a>
                                                                                            <div class="sm_megamenu_title">
                                                                                                <h3 class="sm_megamenu_nodrop  title-cat">T-shirt</h3></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/t-shirt/fermentuma.html"><span class="sm_megamenu_title_lv-4">Fermentuma</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/t-shirt/commodos.html"><span class="sm_megamenu_title_lv-4">Commodos</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/t-shirt/shoes.html"><span class="sm_megamenu_title_lv-4">Shoes</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/t-shirt/western-wear.html"><span class="sm_megamenu_title_lv-4">Western Wear</span></a></div>
                                                                                            <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/fashion/t-shirt/trending.html"><span class="sm_megamenu_title_lv-4">Trending</span></a></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><span class="btn-submobile"></span> </li>
                                            <li class="other-toggle  sm_megamenu_lv1 sm_megamenu_drop parent  ">
                                                <a class="sm_megamenu_head sm_megamenu_drop " href="http://magento2.flytheme.net/themes/sm_emarket/german/sport-entertaiment.html" id="sm_megamenu_271"> <span class="icon_items"><img src="http://magento2.flytheme.net/themes/sm_emarket/pub/media/wysiwyg/mega-menu/icon/6.png" alt="icon items"></span> <span class="sm_megamenu_icon sm_megamenu_nodesc"> <span class="sm_megamenu_title">Sport &amp; Entertaiment</span> </span>
                                                </a>
                                            </li>
                                            <li class="other-toggle  sm_megamenu_lv1 sm_megamenu_drop parent  ">
                                                <a class="sm_megamenu_head sm_megamenu_drop " href="http://magento2.flytheme.net/themes/sm_emarket/german/food.html" id="sm_megamenu_273"> <span class="icon_items"><img src="http://magento2.flytheme.net/themes/sm_emarket/pub/media/wysiwyg/mega-menu/icon/7.png" alt="icon items"></span> <span class="sm_megamenu_icon sm_megamenu_nodesc"> <span class="sm_megamenu_title">Jewelry &amp; Watches</span> </span>
                                                </a>
                                            </li>
                                            <li class="background_moto-parent other-toggle  sm_megamenu_lv1 sm_megamenu_drop parent   parent-item">
                                                <a class="sm_megamenu_head sm_megamenu_drop sm_megamenu_haschild" href="http://magento2.flytheme.net/themes/sm_emarket/german/sport-entertaiment.html" id="sm_megamenu_275"> <span class="icon_items"><img src="http://magento2.flytheme.net/themes/sm_emarket/pub/media/wysiwyg/mega-menu/icon/6.png" alt="icon items"></span> <span class="sm_megamenu_icon sm_megamenu_nodesc"> <span class="sm_megamenu_title">Automotive</span> </span>
                                                </a>
                                                <div class="sm-megamenu-child sm_megamenu_dropdown_5columns ">
                                                    <div data-link="http://magento2.flytheme.net/themes/sm_emarket/german/" class="sm_megamenu_col_5 sm_megamenu_firstcolumn    background_moto">
                                                        <div data-link="" class="sm_megamenu_col_2    ">
                                                            <div class="sm_megamenu_head_item">
                                                                <div class="sm_megamenu_title  ">
                                                                    <div data-link="http://magento2.flytheme.net/themes/sm_emarket/german/" class="sm_megamenu_col_6 sm_megamenu_firstcolumn    margin-bottom">
                                                                        <div class="sm_megamenu_head_item">
                                                                            <div class="sm_megamenu_title  ">
                                                                                <a class="sm_megamenu_nodrop " href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/car-accessories.html"></a>
                                                                                <div class="sm_megamenu_title">
                                                                                    <h3 class="sm_megamenu_nodrop  title-cat">Car Accessories</h3></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/car-accessories/car-electronics.html"><span class="sm_megamenu_title_lv-3">Car Electronics</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/car-accessories/car-lighting.html"><span class="sm_megamenu_title_lv-3">Car Lighting</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/car-accessories/car-chargers-adapters.html"><span class="sm_megamenu_title_lv-3">Car Chargers &amp; Adapters</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/car-accessories/car-decorations.html"><span class="sm_megamenu_title_lv-3">Car Decorations</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/car-accessories/car-thermometers.html"><span class="sm_megamenu_title_lv-3">Car Thermometers</span></a></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div data-link="http://magento2.flytheme.net/themes/sm_emarket/german/" class="sm_megamenu_col_6 sm_megamenu_firstcolumn    ">
                                                                        <div class="sm_megamenu_head_item">
                                                                            <div class="sm_megamenu_title  ">
                                                                                <a class="sm_megamenu_nodrop " href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/car-lights.html"></a>
                                                                                <div class="sm_megamenu_title">
                                                                                    <h3 class="sm_megamenu_nodrop  title-cat">Car Lights</h3></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/car-lights/car-dvrs.html"><span class="sm_megamenu_title_lv-3">Car DVRs</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/car-lights/car-led-light-bulbs.html"><span class="sm_megamenu_title_lv-3">Car LED Light Bulbs</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/car-lights/hid-xenon-kits.html"><span class="sm_megamenu_title_lv-3">HID Xenon Kits</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/car-lights/car-decoration-lights.html"><span class="sm_megamenu_title_lv-3">Car Decoration Lights</span></a></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-link="" class="sm_megamenu_col_2    ">
                                                            <div class="sm_megamenu_head_item">
                                                                <div class="sm_megamenu_title  ">
                                                                    <div data-link="http://magento2.flytheme.net/themes/sm_emarket/german/" class="sm_megamenu_col_6 sm_megamenu_firstcolumn    margin-bottom">
                                                                        <div class="sm_megamenu_head_item">
                                                                            <div class="sm_megamenu_title  ">
                                                                                <a class="sm_megamenu_nodrop " href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/motorcycle.html"></a>
                                                                                <div class="sm_megamenu_title">
                                                                                    <h3 class="sm_megamenu_nodrop  title-cat">Motorcycle</h3></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/motorcycle/diagnostic-tools.html"><span class="sm_megamenu_title_lv-3">Diagnostic Tools</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/motorcycle/motorcycle-fairings.html"><span class="sm_megamenu_title_lv-3">Motorcycle Fairings</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/motorcycle/car-gps-accessories.html"><span class="sm_megamenu_title_lv-3">Car GPS &amp; Accessories</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/motorcycle/car-decals-stickers.html"><span class="sm_megamenu_title_lv-3">Car Decals &amp; Stickers</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/motorcycle/car-parts-exterior-accessories.html"><span class="sm_megamenu_title_lv-3">Car Parts &amp; Exterior Accessories</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/motorcycle/motorcycle-helmets.html"><span class="sm_megamenu_title_lv-3">Motorcycle Helmets</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/motorcycle/motorcyle-lighting.html"><span class="sm_megamenu_title_lv-3">Motorcyle Lighting</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/motorcycle/motorcycle-accessories.html"><span class="sm_megamenu_title_lv-3">Motorcycle Accessories</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/motorcycle/car-interior-accessories.html"><span class="sm_megamenu_title_lv-3">Car Interior Accessories</span></a></div>
                                                                                <div class="sm_megamenu_title "><a class="sm_megamenu_nodrop" href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage/motorcycle/motorcycle-gear.html"><span class="sm_megamenu_title_lv-3">Motorcycle Gear</span></a></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-link="" class="sm_megamenu_col_2 sm_megamenu_firstcolumn    ">
                                                            <div class="sm_megamenu_head_item">
                                                                <div class="sm_megamenu_title  ">
                                                                    <div class="sm_megamenu_content"><img src="http://magento2.flytheme.net/themes/sm_emarket/pub/media/wysiwyg/mega-menu/moto_bg.png" alt=""></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><span class="btn-submobile"></span> </li>
                                            <li class="other-toggle  sm_megamenu_lv1 sm_megamenu_drop parent  ">
                                                <a class="sm_megamenu_head sm_megamenu_drop " href="http://magento2.flytheme.net/themes/sm_emarket/german/travel-vacation.html" id="sm_megamenu_277"> <span class="icon_items"><img src="http://magento2.flytheme.net/themes/sm_emarket/pub/media/wysiwyg/mega-menu/icon/9.png" alt="icon items"></span> <span class="sm_megamenu_icon sm_megamenu_nodesc"> <span class="sm_megamenu_title">Components &amp; Telecom</span> </span>
                                                </a>
                                            </li>
                                            <li class="other-toggle  sm_megamenu_lv1 sm_megamenu_drop parent  ">
                                                <a class="sm_megamenu_head sm_megamenu_drop " href="http://magento2.flytheme.net/themes/sm_emarket/german/sport-entertaiment.html" id="sm_megamenu_269"> <span class="icon_items"><img src="http://magento2.flytheme.net/themes/sm_emarket/pub/media/wysiwyg/mega-menu/icon/7.png" alt="icon items"></span> <span class="sm_megamenu_icon sm_megamenu_nodesc"> <span class="sm_megamenu_title">Optimum Electronics</span> </span>
                                                </a>
                                            </li>
                                            <li class="other-toggle  sm_megamenu_lv1 sm_megamenu_drop parent  ">
                                                <a class="sm_megamenu_head sm_megamenu_drop " href="http://magento2.flytheme.net/themes/sm_emarket/german/travel-vacation.html" id="sm_megamenu_272"> <span class="icon_items"><img src="http://magento2.flytheme.net/themes/sm_emarket/pub/media/wysiwyg/mega-menu/icon/8.png" alt="icon items"></span> <span class="sm_megamenu_icon sm_megamenu_nodesc"> <span class="sm_megamenu_title">Home &amp; Construction</span> </span>
                                                </a>
                                            </li>
                                            <li class="other-toggle  sm_megamenu_lv1 sm_megamenu_drop parent  ">
                                                <a class="sm_megamenu_head sm_megamenu_drop " href="http://magento2.flytheme.net/themes/sm_emarket/german/spa-massage.html" id="sm_megamenu_270"> <span class="icon_items"><img src="http://magento2.flytheme.net/themes/sm_emarket/pub/media/wysiwyg/mega-menu/icon/10.png" alt="icon items"></span> <span class="sm_megamenu_icon sm_megamenu_nodesc"> <span class="sm_megamenu_title">Jewelry, Bags &amp; Shoes</span> </span>
                                                </a>
                                            </li>
                                            <li class="other-toggle  sm_megamenu_lv1 sm_megamenu_drop parent  " style="display: none;">
                                                <a class="sm_megamenu_head sm_megamenu_drop " href="http://magento2.flytheme.net/themes/sm_emarket/german/furniture.html" id="sm_megamenu_279"> <span class="icon_items"><img src="http://magento2.flytheme.net/themes/sm_emarket/pub/media/wysiwyg/mega-menu/icon/7.png" alt="icon items"></span> <span class="sm_megamenu_icon sm_megamenu_nodesc"> <span class="sm_megamenu_title">Book Stationery</span> </span>
                                                </a>
                                            </li>
                                            <li class="other-toggle  sm_megamenu_lv1 sm_megamenu_drop parent  " style="display: none;">
                                                <a class="sm_megamenu_head sm_megamenu_drop " href="http://magento2.flytheme.net/themes/sm_emarket/german/food.html" id="sm_megamenu_281"> <span class="icon_items"><img src="http://magento2.flytheme.net/themes/sm_emarket/pub/media/wysiwyg/mega-menu/icon/10.png" alt="icon items"></span> <span class="sm_megamenu_icon sm_megamenu_nodesc"> <span class="sm_megamenu_title">Foot &amp; Restaurant</span> </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="more-w"><span class="more-view">More Categories</span></div>
                                </div>
                            </nav>
                            <script type="text/javascript">
                                require(["jquery", "mage/template"], function($) {
                                    var menu_width = $('.sm_megamenu_wrapper_horizontal_menu').width();
                                    $('.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li > div').each(function() {
                                        $this = $(this);
                                        var lv2w = $this.width();
                                        var lv2ps = $this.position();
                                        var lv2psl = $this.position().left;
                                        var sw = lv2w + lv2psl;
                                        if (sw > menu_width) {
                                            $this.css({
                                                'right': '0'
                                            });
                                        }
                                    });
                                    var _item_active = $('div.sm_megamenu_actived');
                                    if (_item_active.length) {
                                        _item_active.each(function() {
                                            var _self = $(this),
                                                _parent_active = _self.parents('.sm_megamenu_title'),
                                                _level1 = _self.parents('.sm_megamenu_lv1');
                                            if (_parent_active.length) {
                                                _parent_active.each(function() {
                                                    if (!$(this).hasClass('sm_megamenu_actived'))
                                                        $(this).addClass('sm_megamenu_actived');
                                                });
                                            }

                                            if (_level1.length && !_level1.hasClass('sm_megamenu_actived')) {
                                                _level1.addClass('sm_megamenu_actived');
                                            }
                                        });
                                    }

                                });
                            </script>
                        </div> -->
                    </div>
                    <!-- <script type="text/javascript">
                        require([
                            'jquery'
                        ], function($) {
                            var limit;
                            limit = 10;

                            var i;
                            i = 0;
                            var items;
                            items = $('.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu > li').length;

                            if (items > limit) {
                                $('.sm_megamenu_wrapper_vertical_menu .sambar-inner').append('<div class="more-w"><span class="more-view">More Categories</span></div>');

                                $('.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu > li').each(function() {
                                    i++;
                                    if (i > limit) {
                                        $(this).css('display', 'none');
                                    }
                                });

                                $('.sm_megamenu_wrapper_vertical_menu .sambar-inner .more-w > .more-view').click(function() {
                                    if ($(this).hasClass('open')) {
                                        i = 0;
                                        $('.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu > li').each(function() {
                                            i++;
                                            if (i > limit) {
                                                $(this).slideUp(200);
                                            }
                                        });
                                        $(this).removeClass('open');
                                        $('.more-w').removeClass('active-i');
                                        $(this).text('More Categories');
                                    } else {
                                        i = 0;
                                        $('.sm_megamenu_wrapper_vertical_menu ul.sm_megamenu_menu > li').each(function() {
                                            i++;
                                            if (i > limit) {
                                                $(this).slideDown(200);
                                            }
                                        });
                                        $(this).addClass('open');
                                        $('.more-w').addClass('active-i');
                                        $(this).text('Close Menu');
                                    }
                                });

                            }

                        });
                    </script> -->
                </div>
                <div class="col-lg-7 col-md-6 col-sm-6 col-xs-8 searchbox-header">
                    <div class="search-wrapper">
                        <div id="sm_searchbox5759313431526041556" class="sm-searchbox">
                            <div class="sm-searchbox-content">
                                <%= form_tag spree.products_path, method: :get, class:"form minisearch", id:"searchbox_mini_form" do %>
                                  <div class="field searchbox">
                                    <div class="control">
                                    <%= search_field_tag :keywords, params[:keywords], placeholder: Spree.t(:search), class:"input-text input-searchbox" , id:"dor_query_top" %>
                                  </div>
                                  </div>
                                  <div class="actions">
                                        <button type="submit" title="Search" class="btn-searchbox"><span>Search</span></button>
                                    </div>
                                <% end %>
                                <!-- <form class="form minisearch" id="searchbox_mini_form" action="http://magento2.flytheme.net/themes/sm_emarket/german/catalogsearch/result/" method="get">
                                    <div class="field searchbox">
                                        <div class="control">
                                            <input id="searchbox" type="text" name="q" onfocus="if(this.value=='Enter your search...') this.value='';" onblur="if(this.value=='') this.value='Enter your search...';" value="Enter your search..." class="input-text input-searchbox" maxlength="128" role="combobox" aria-haspopup="false" aria-autocomplete="both" autocomplete="off">
                                            <div id="searchbox_autocomplete" class="search-autocomplete"></div>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <button type="submit" title="Search" class="btn-searchbox" disabled=""><span>Search</span></button>
                                    </div>
                                </form> -->
                            </div>
                        </div>
                        <!-- <script type="text/javascript">
                            require([
                                'jquery'
                            ], function($) {
                                var searchbox = $('#sm_searchbox5759313431526041556');
                                var firt_load = 5;

                                clickMore($('.sm-searchbox-more', searchbox));

                                function clickMore(more) {
                                    more.click(function() {
                                        var that = $(this);
                                        var sb_ajaxurl = that.attr('data-ajaxmore');
                                        var count = that.attr('data-count');
                                        count = parseInt(count);
                                        if (firt_load >= count) {
                                            count = count + parseInt(firt_load);
                                        }
                                        $.ajax({
                                            type: 'POST',
                                            url: sb_ajaxurl,
                                            data: {
                                                is_ajax: 1,
                                                count_term: count
                                            },
                                            success: function(data) {
                                                $('.sm-searchbox-keyword', searchbox).html(data.htm);
                                                clickMore($('a.sm-searchbox-more', searchbox));
                                                $('a.sm-searchbox-more', searchbox).attr({
                                                    'data-count': count + parseInt(firt_load)
                                                });
                                            },
                                            dataType: 'json'
                                        });
                                    });
                                }

                            });
                        </script> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-4 inner-right-bottom">
                    <div class="minicart-header">
                        <div class="minicart-content">
                            <div class="cart-wrapper">
                                <div data-block="minicart" class="minicart-wrapper">
                                    <div class="header">
                                          <ul class="nav navbar-nav navbar-right" data-hook>
                                          <li id="link-to-cart" data-hook>
                                            <noscript>
                                              
                                            </noscript>
                                            &nbsp;
                                          </li>
                                          <script>Spree.fetch_cart()</script>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- WISHLIST -->
                    <!-- COMPARE -->
                    <div class=" sn hidden-xs hidden-sm header-wishlist">
                        <a class="fa fa-heart" href="#"></a>
                    </div>
                    <div class=" sn hidden-xs hidden-sm header-compare">
                        <a class="fa fa-refresh" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>